<div class="footer">
  <h3>Get The FreshCart app</h3>
  <p class="text-black-50">We will send you a link, open on your phone to download the app</p>
  <div class="send-link d-flex justify-content-between">
    <input class="form-control w-75" type="text" placeholder="Email ..">
    <button class="btn bg-main text-white d-block px-5">Share App Link</button>
  </div>
  <hr class="mx-auto">
  <div class="imgs d-flex justify-content-between align-items-center">
    <div class="subimg1">
      <p class="fw-bolder">Payment Partners</p>
      <div class="images">
        <img height="40" src="assets/visa.svg" alt="">
        <img height="40" src="assets/visa-1.svg" alt="">
      </div>
    </div>
    <div class="subimg2">
      <p class="fw-bolder">Get deliveries with FreshCart</p>
      <div class="images">
        <img height="40" src="assets/app-store.svg" alt="">
        <img height="40" src="assets/google-store.svg" alt="">
      </div>
    </div>
  </div>
  <hr class="mx-auto">
</div>