<section class="category my-4">
  <div *ngIf="isLoading"
    class="loadingScreen position-fixed top-0 start-0 end-0 bottom-0 bg-white d-flex justify-content-center align-items-center z-2">
    <span class="loader"></span>
  </div>

  <div class="row">
    <div *ngFor="let category of categoryList" class="col-md-4 my-3">
      <div class="product card">
        <div class="card-im">
          <img class="img-fluid ratio-4x3 w-100" [src]="category.image" alt="">
        </div>
        <div class="card-body">
          <p class="text-success h3 text-center">{{category.name}}</p>
        </div>
      </div>
    </div>
  </div>
</section>