<section class="my-5">
  <form [formGroup]="resetPass" (ngSubmit)="resetPassword()">
    <h2 class="fw-bold">reset your account password</h2>
    <input formControlName="email" class="form-control w-100 mx-auto mb-3" type="email" name="email"
      placeholder="email">
    <input formControlName="newPassword" class="form-control w-100 mx-auto mb-3" type="password" name="password"
      placeholder="password">
    <button [disabled]="resetPass.invalid" class="btn bg-main text-white d-block me-auto mt-3">reset
      password</button>
  </form>
</section>